@import url(http://fonts.googleapis.com/css?family=Slackey|Geo);

@font-face {
  font-family: "Slackey";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geo";
  font-weight: normal;
  font-style: normal;
}